<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hyperswitch.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>9F00D167E80527E8035E4DFF9D1035960709BAAD</string>
				<key>dateExpires</key>
				<string>2027/02/11</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9F00D167E80527E8035E4DFF9D1035960709BAAD</string>
						<key>dateExpires</key>
						<string>2027/02/11</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>HyperCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NC659ZB5CY</string>
						<key>name</key>
						<string>Baobab Payments UG (haftungsbeschrnkt)</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9F00D167E80527E8035E4DFF9D1035960709BAAD</string>
						<key>dateExpires</key>
						<string>2027/02/11</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>HyperOTA.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NC659ZB5CY</string>
						<key>name</key>
						<string>Baobab Payments UG (haftungsbeschrnkt)</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9F00D167E80527E8035E4DFF9D1035960709BAAD</string>
						<key>dateExpires</key>
						<string>2027/02/11</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>HyperswitchScanCard.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NC659ZB5CY</string>
						<key>name</key>
						<string>Baobab Payments UG (haftungsbeschrnkt)</string>
					</dict>
					<key>versionNumber</key>
					<string>0.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>20250210120842</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9F00D167E80527E8035E4DFF9D1035960709BAAD</string>
						<key>dateExpires</key>
						<string>2027/02/11</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ThreeDS_SDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NC659ZB5CY</string>
						<key>name</key>
						<string>Baobab Payments UG (haftungsbeschrnkt)</string>
					</dict>
					<key>versionNumber</key>
					<string>2.5.20</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9F00D167E80527E8035E4DFF9D1035960709BAAD</string>
						<key>dateExpires</key>
						<string>2027/02/11</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NC659ZB5CY</string>
						<key>name</key>
						<string>Baobab Payments UG (haftungsbeschrnkt)</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>NC659ZB5CY.io.peachpayments.test</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>webcredentials:app.sandbox-next.peachpayments.com</string>
					<string>webcredentials:app.qa-next.ppay.io</string>
					<string>webcredentials:demo.dev-next.ppay.io</string>
					<string>webcredentials:playground.qa-next.ppay.io</string>
					<string>webcredentials:playground.sandbox-next.peachpayments.com</string>
					<string>webcredentials:10.0.2.2:5252</string>
				</array>
				<key>com.apple.developer.in-app-payments</key>
				<array>
					<string>merchant.com.peachpayments.9e92ddb84f564809a6cac5e3b934357d</string>
					<string>merchant.com.peachpayments</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>NC659ZB5CY</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>hyperswitch.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>9a9c51a8-90b9-49dd-a8d0-36e3670f92a6</string>
				<key>dateExpires</key>
				<string>2027/02/11</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: io.peachpayments.test</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>NC659ZB5CY</string>
				<key>name</key>
				<string>Baobab Payments UG (haftungsbeschrnkt)</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
